/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*::-webkit-scrollbar {
    width: 0;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}
* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: white;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    display: flex;
    flex-direction: column;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Variables */
html {
    font-size: 62.5%;

    --primary-200: #A2CB92;
    --primary-400: #8AB254;
    --secondary: #CFE38C;
    --light: #C9E1CA;
    --lighter: #F6EBE0;
    --danger: #BF2B23;
    --warning: #F2B707;
    --green-300: #A4C0A3;
    --green-600: #6F8D68;

    --grey-100: #F8F9FA;
    --grey-200: #E9ECEF;
    --grey-300: #DEE2E6;
    --grey-400: #CED4DA;
    --grey-500: #ADB5BD;
    --grey-600: #6C757D;
    --grey-700: #495057;
    --grey-800: #343A40;
    --grey-800-50: rgba(52, 58, 64, 0.2);

    --grey-900: #212529;

    --color-background: var(--grey-800);
    --color-content: var(--lighter);
    --color-title--main: var(--light);
    --color-title--card: var(--green-300);

    --font-title--card: 'Lilita-one', "Time New Roman", sans-serif;
    --font-title: 'Days-One', "Time New Roman", sans-serif;
    --font-content--card: 'Capriola', "Time New Roman", sans-serif;
    --font-content: 'Montserrat', "Time New Roman", sans-serif;

}
/* Polices */
@font-face {
    font-family: 'Lilita-one';
    src: url('../fonts/Lilita_One/LilitaOne-Regular.ttf');
}
@font-face {
    font-family: 'Days-One';
    src: url('../fonts/Days_One/DaysOne-Regular.ttf');
}
@font-face {
    font-family: 'Capriola';
    src: url('../fonts/Capriola/Capriola-Regular.ttf');
}

/* Body */
.body {
    background-color: var(--grey-800);
    display: flex;
    flex-direction: column;
}

/*Commons*/
.addView-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.button {
    color: var(--color-content);
    background-color: var(--grey-400);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
}
.button-edit{
    color: var(--warning);
}
.button-delete{
    color: var(--danger);
}

/*Menu*/
.menu{
    min-height: 50rem;
    max-height: 50rem;
}
.menu-button {
    color: var(--color-content);
    background-color: var(--grey-600);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
}

/*Header*/
.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: white solid 1px;

}
.logo-container {
    display: flex;
    align-items: center;
}
.review-svg {
    margin-right: 1rem;
    color: white;
}
.welcome-text {
    font-size: 2rem;
    color: white;
}

/*View header*/
.view-header {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: white solid 1px;
}
.view-title {
    font: var(--font-title);
    color: var(--light);
    font-size: 3.8rem;
}
.view-search {
    color: white;
    font-size: 2rem;
}
.view-action {
    color: var(--color-content);
    background-color: var(--primary-400);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
}

/*Main container*/
.main-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.menu {
    color: white;
    font-family: var(--font-content);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    height: 100%;
    padding: 3rem 3rem 0 3rem;
}

/*Animal card*/
.animals {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    border-left: var(--grey-600) solid 3px;
}
.animal {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 2rem;
    background-color: var(--grey-700);
    min-height: 12rem;
}
.animal-picture {
    padding: 0.5rem;
    max-height: 13rem;
    max-width: 13rem;
    border-radius: 2rem;
}
.animal-infos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding-left: 2rem;
}
.animal-name {
    font: var(--font-title);
    color: var(--color-content);
    font-size: 2.4rem;
}
.animal-living {
    font: var(--font-content);
    color: var(--color-content);
    font-size: 1.2rem;
}
.animal-score {
    font: var(--font-content--card);
    color: var(--color-content);
    font-size: 1.6rem;
}

/*Add animal*/
.view-header--animal {
    display: flex;
    justify-content: center;
    padding: 2rem;
    border-bottom: white solid 1px;
}
.form-container {
    margin: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    background-color: var(--grey-700);
    border-radius: 2rem;
}
.form-field {
    font-family: var(--font-content);
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1rem;
}
.form-buttonContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: end;
    column-gap: 1rem;
    padding-right: 1rem;
}
.animal-actions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 100% ;
}
.button--success {
    background-color: var(--primary-400);
}
.button--danger {
    background-color: var(--danger);
}

/*Living card*/
.livings{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    border-left: var(--grey-600) solid 3px;
}
.living{
    width: 90%;
    background-color: var(--grey-700);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    border-radius: 2rem;
    padding: 1rem;
}
.living-picture {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}
.living-infoAndActions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.living-name{
    margin-left: 3rem;
    font-family: var(--font-title);
    font-size: 2.4rem;
}
.living-actions{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin-right: 2rem;
}
.living-description{
    border-radius: 1rem;
    background-color: var(--grey-800);
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-content);
    font-size: 1.6rem;
    padding: 1rem;
}

/*Service card*/
.services{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    border-left: var(--grey-600) solid 3px;
}
.service{
    width: 90%;
    background-color: var(--grey-700);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    border-radius: 2rem;
    padding: 1rem;
}
.service-picture {
    padding: 0.5rem;
    width: 100%;
    height: 75%;
    border-radius: 2rem;
}
.service-infoAndActions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.service-name{
    margin-left: 3rem;
    font-family: var(--font-title);
    font-size: 2.4rem;
}
.service-actions{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin-right: 2rem;
}
.service-description{
    border-radius: 1rem;
    background-color: var(--grey-800);
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-content);
    font-size: 1.6rem;
    padding: 1rem;
}

/*FeedingRow*/
.feedings {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    padding:0.5rem;
    border-left: var(--grey-600) solid 3px;
}
.feeding-cell{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--grey-700);
    border-radius: 2rem;
    padding: 0.5rem;
}
.feeding-animal{
    font-family: var(--font-title);
    font-size: 1.8rem;
    color: var(--light);
}
.feeding-img{
    width: 100%;
}
.table-row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.table-cell{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-action{
    color: var(--primary-400);
    background-color: var(--grey-800);
    border-radius: 1rem;
}
.table-actions{
    display: flex;
    justify-content: space-around;
}
.feeding-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

/*NewFeeding*/
.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    padding: 1rem;
    margin-bottom: 3rem;
    border: var(--light) solid 1px;
    border-radius: 2rem;
}
.newFeeding-img{
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
}
.newFeeding-title{
    font-family: var(--color-title--card);
    font-size: 2rem;
}






