.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:100%;
    width: 100%;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    padding: 3rem;
}
.contained{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey-800);
    border-radius: 5rem;
    row-gap: 2rem;
    padding: 2rem;
}
.popupHide{
    display: none;
}

#animalInfo{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

}

/*Titles*/
#mainTitle{
    font-family: var(--font-title);
    font-size: 2.4rem;
    color: var(--primary-200);
}
.section-title{
    font-family: var(--font-title);
    font-size: 1.6rem;
    color: var(--lighter);
}

/*Animal info*/
#animalInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--grey-600);
    row-gap: 1rem;
    padding: 2rem;
    font-family: var(--font-content);
    font-size: 1.6rem;
    width: 100%;
    box-shadow: var(--grey-900) 1px 5px 15px;

}
/*Picture*/
#picture{
    max-height: 200px;
    max-width: 50%;
    border-radius: 2rem;
}

/*Feeding Infos and Vet Infos*/
#feedingContainer , #vetContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: start;
    border: 1px solid var(--grey-600);
    font-family: var(--font-content);
    font-size: 1.2rem;
    padding: 2rem;
    box-shadow: var(--grey-900) 1px 5px 15px;
}
#vetContainer{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

}

